/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.production
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
.idea
.vscode
/public/hot
/public/build
auth.json
browser-config.json
phpunit.xml
.php_cs.cache
.php-cs-fixer.cache
