/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public/notas/*
/storage/app/public/*.pdf
/storage/app/public/*.jpg
/storage/app/public/*.png
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
.env
.env.backup
.env.production
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
.idea
.vscode
/public/hot
/public/build
auth.json
browser-config.json
phpunit.xml
.php_cs.cache
.php-cs-fixer.cache
