/vendor
/node_modules
/public/storage
/bootstrap/cache/*.php
/database/*.sqlite
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
.env
.env.backup
.env.production
# composer.lock
composer.phar
composer-setup.php
npm-debug.log
yarn-error.log
.phpunit.result.cache
.idea
.vscode
/public/hot
/public/build
auth.json
browser-config.json
.php_cs.cache
.php-cs-fixer.cache
